main {
    display: grid;
    grid-template-columns: 10rem 10rem 10rem;
    grid-gap: 0px;
}
  
app-square {
    // border: 1px gray solid;
    height: 10rem;        
}

@media (max-width: 640px) {
    main {
        display: grid;
        grid-template-columns: 6rem 6rem 6rem;
        grid-gap: 0px;
    }
      
    app-square {
        // border: 1px gray solid;
        height: 6rem;
        
    }
  }

  @media (max-height: 640px) {
    main {
        display: grid;
        grid-template-columns: 5.5rem 5.5rem 5.5rem;
        grid-gap: 0px;
    }
      
    app-square {
        // border: 1px gray solid;
        height: 5.5rem;
            
    }
  }