

.container_div{
  /* Center vertically and horizontally */
  position: absolute;
//   top: 50%;
  left: 40%;
//   transform: translate(-50%, -50%);
  transform: translate(-50%);
}

main {
    display: grid;
    grid-template-columns: 10rem 10rem 10rem;
    grid-gap: 0px;
}
  
app-square {
    border: 1px gray solid;
    height: 10rem;
        
}


@media only screen and (max-width: 640px) {
    main {
        display: grid;
        grid-template-columns: 5.5rem 5.5rem 5.5rem;
        grid-gap: 0px;
    }
      
    app-square {
        border: 1px gray solid;
        height: 5.5rem;
            
    }
  }